<h3><%= link_to t(:start), {:controller => "/start"},{} -%>&rarr; </h3>

<% content_for :sidebar do %>
<div class="info">
    <h2><%= t(:options) -%></h2>
    <%= search_form_for @search, :url => collection_url, :builder => SimpleForm::FormBuilder, :defaults => {:required => false} do |f| %>
        <%= f.input :student_full_name_cont -%>
        <%= f.input :grade_id_eq, :collection => Grade.all -%>
        <%= f.submit t(:search) %>
        
    <% end %>
</div>
<%end %>
<table class="azul">
    <thead>
        <tr>
            <th></th>
            <th> <%= t(:Id) %> </th>
            <th colspan="2"> <%= t('evaluacion') %> </th>
        </tr>
    </thead>
    <tbody id="<%= list_id-%>">
        <%= render :partial => "row", :collection=> @collection %>
    </tbody>
     <tfoot id="<%= footer_id%>">
        <tr>
            <th colspan="3">
                <%= render :partial => 'shared/pagination_counter', :locals => {:collection=> @collection} -%>
            </th>
        </tr>
    </tfoot>
</table>

