<%
if session[:profile_menu]
  position = 80
  MENU_YAML[session[:profile_menu]]['menus'].keys.sort.each_with_index do |menu_key, i| %>
    <div class="item_menu" style="left:<%= position -%>px;">
      <%= link_to t(MENU_YAML[session[:profile_menu]]['menus'][menu_key]['name'].to_sym), MENU_YAML[session[:profile_menu]]['menus'][menu_key]['url'] -%>
      <% position += (t(MENU_YAML[session[:profile_menu]]['menus'][menu_key]['name']).length * 7) + 20 %>
      <div  class="sub_menu" >
        <% unless MENU_YAML[session[:profile_menu]]['menus'][menu_key]['menus'].blank? -%>
          <%for submenu_key in MENU_YAML[session[:profile_menu]]['menus'][menu_key]['menus'].keys.sort %>
            <div  class="item_sub_menu" ><%= link_to t(MENU_YAML[session[:profile_menu]]['menus'][menu_key]['menus'][submenu_key]['name'].to_sym),
                                                     MENU_YAML[session[:profile_menu]]['menus'][menu_key]['menus'][submenu_key]['url'] -%></div>
          <%end -%>
        <% end -%>
      </div>
    </div>
    <% end -%>
  <% end -%>
<div id="clip"  style="left:-999em;">&nbsp;</div>