<li class='open <%='active' if params[:controller].to_s.match(/^content_manager\//)  %>'>
	<a href="#" class="dropdown-toggle"> <i class="icon-cogs"></i> <span><%= t(:content_manager)%></span> <b class="arrow icon-angle-down"></b> </a>

	<ul class="submenu">
		<li>
			<%= link_to(content_manager_contents_path) do %>
				 <i class="icon-double-angle-right"></i> <%= t(:contents)%> </a>
			<% end%>
		</li>
		<li>
			<%= link_to(content_manager_countries_path) do %>
				 <i class="icon-double-angle-right"></i> <%= t(:countries)%> </a>
			<% end%>
		</li>
	</ul>
</li>