
<% unless  @collection.blank? %>
    
    <div class="row-fluid">
        <div class="span6">
            <div class="dataTables_info" id="table_report_info">
                <%= page_entries_info @collection %>
            </div>
        </div>
        <div class="span6">

            <div class="dataTables_paginate paging_bootstrap pagination">
                <%= will_paginate @collection %>
                <%#will_paginate @collection#, :renderer=>WillPaginateRender %>
                <!--   
                <ul>

                    <li class="prev disabled">
                        <a href="#">
                        <i class="icon-double-angle-left"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="next">
                        <a href="#">
                        <i class="icon-double-angle-right"></i>
                        </a>
                    </li>
                </ul>-->
                
            </div>
        </div>
    </div>
<% end %>

