
<li class='open <%='active' if params[:controller].to_s.match(/^content_manager\//)  %>'>
	<a href="#" class="dropdown-toggle"> <i class="icon-book"></i> <span><%= t(:user)%></span> <b class="arrow icon-angle-down"></b> </a>
<!--
	<ul class="submenu">
		<li>
			<a href="elements.html"> <i class="icon-double-angle-right"></i> Elements </a>
		</li>

		<li>
			<a href="buttons.html"> <i class="icon-double-angle-right"></i> Buttons &amp; Icons </a>
		</li>
	</ul>
-->
</li>