  <%= simple_form_for(@object, :url => object_url(@object), :remote => is_xhr?, :method => :put) do |f| %>
	    <%= render :partial => "form", :locals => { :f => f } %>
        <div class="form-horizontal control-label">
        </div>
		<%= f.button :submit %>
    	<%= cancel_button_tag(collection_url)%>
  <% end %>