<% content_for :search_content do %>
<div class="row-fluid">
    <%= form_for @search, :url => collection_url, :method => :get do |f| %>
        <%= f.text_field :name_cont, :class=>"input-medium search-query" -%>
        <%= button_tag :class=> "btn btn-purple btn-small" do %>
            <%=t(:search)%>
            <i class='icon-search icon-on-right bigger-110'></i>
        <%end%>
    <% end %>
</div>
<%end %>
<% content_for :options_content do %>
    <li>
        <%= link_to t('new_registry'), new_object_url %> 
        <%= link_to t('disable_all'), disable_all_admin_countries_url, :method => :post %> 
    </li>
<% end %> 
<div id="table_report_wrapper" class="dataTables_wrapper" role="grid">
    <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th class="id_column"> <%= t(:Id) %> </th>
                <th> <%= t('name') %> </th>
                <th> <%= t('disabled') %> </th>
                <th class="span1 td-actions"></th>
            </tr>
        </thead>
        <tbody id="<%= list_id-%>">
            <%= render :partial => "row", :collection=> @collection %>
        </tbody>
    </table>
    <%= render 'shared/pagination_counter' %>
</div>