<% item = row if row %>
<tr id="<%= dom_id(item)%>" style='<%= defined?(hide) ? "display:none" : '' -%>'  >
	
	<td class="id_column"><%= item.id %></td>
	<td><%= item.to_s-%></td>
	<td><%= item.disabled%></td>
	<td class="span1 td-actions">
		<%#= link_to( t(:delete), object_url(item), :method => :delete, :confirm => t(:delete_register), :class => 'btn btn-info')-%>
		<div class="visible-desktop btn-group">
			<%= link_to( edit_object_url(item), :class => 'btn btn-mini btn-warning') do -%>
				<i title='<%= t(:edit)%>' class='icon-edit bigger-120'></i>
			<%end%>
			<%= link_to( object_url(item), :method => :delete, :confirm => t(:delete_register), :class => 'btn btn-mini btn-danger') do -%>
				<i title='<%= t(:delete)%>' class="icon-trash bigger-120"></i>
			<%end%>
			<%= link_to( enable_admin_country_url(item), :method => :post,:class => 'btn btn-mini btn-danger') do -%>
				<i title='<%= t(:enable)%>' class="icon-trash bigger-120"></i>
			<%end%>
		</div>
	</td>
</tr>