<%= simple_form_for(@object, :defaults=> {:as => :text_output}, :url => collection_url, :remote => is_xhr?, :method => :get) do |f| %>
    <%= f.input :name %>
    <%= f.input :language %>
	<%= f.input :population %>
<%end%>