/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require font-awesome
 *= require ace.min
 *= require ace-responsive.min
 *= require ace-skins.min
 */

.brand{
  width: 150px; 
  background-color: #F9F9F9
}

.brand small{
  font-size: 80%;
  color: #007cc3; 
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}
.btn{
    line-height: normal !important;
}
a.btn{
     padding-left: 7px; 
}

label.control-label:after{
    content: ": \0000a0";
}
.content_edition_date select{
    width: auto;
}
.show_data{
    font-size: 14px;
    padding-top: 5px; 
}
.id_column{
    width: 20px;
}

.control-group.boolean{

}
.control-group.boolean input {
    left: 180px;
    position: relative;
}

.control-group.boolean label{
    padding-left: 0px;
}
