<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Saberes+ Viewer" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if IE 7]>
    <%= stylesheet_link_tag "font-awesome-ie7" %>
    <![endif]-->

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300" %>

    <!--[if lte IE 8]>
    <%= stylesheet_link_tag "ace-ie.min" %>
    <![endif]-->

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body class='navbar-fixed'>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="/" class="brand"> <%= image_tag 'logo_saberes_plus_28.png'%> <small> Saberes+ </small> </a><!--/.brand-->

          <ul class="nav ace-nav pull-right">

            <li class="light-blue user-profile">
              <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle"> <%= image_tag('avatar2.png', :class=>'nav-user-photo',  :alt=>'')%> <span id="user_info"> <small>Welcome,</small> <%= get_user.to_s%></span> <i class="icon-caret-down"></i> </a>

              <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
                
              </ul><!--/#user_menu-->
            </li>
          </ul><!--/.ace-nav-->
        </div><!--/.container-fluid-->
      </div><!--/.navbar-inner-->
    </div>

    <div class="container-fluid" id="main-container">
      <a id="menu-toggler" href="#"> <span></span> </a>

      <div id="sidebar" class='fixed'>
        <ul class="nav nav-list">
         
          <li class='open active'>
                            
          </li>
          <li class='open'>
            <%= link_to("#") do %>
              <i class="icon-tasks"></i> <span><%= t(:options)%></span>
            <% end%>  
            
            <ul class="submenu">
              <%= yield :options_content%>
            </ul><!--/.submenu-->
          </li><!--/.open .active -->
        </ul><!--/.nav-list-->

        <div id="sidebar-collapse">
          <i class="icon-double-angle-left"></i>
        </div>
      </div>

      <div id="main-content" class="clearfix">
        <div id="breadcrumbs">
          <%= render :partial => "shared/breadcrumbs" %>
        </div>
        
        <div id="page-content" class="clearfix">
          <div class="row-fluid">
            <%= yield :search_content %>
                  <%= bootstrap_flash %>
            <%= yield %>
          </div><!--/row-->
          </div><!--/#page-content-->
      </div><!--/#main-content-->
    </div><!--/.fluid-container#main-container-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
